//COLOR
$default-color:#5B2C6F;
$default-color2:#F16821;
$color-white:#ffffff;
$p-color:#4d4d4d;

//FONT
$default-font-size:1.6rem;
$font-14:1.4rem;
$font-16:1.6rem;
$font-20:2rem;
$menu-font:1.4rem;

//Font Family
$default-font-family:'Poppins',
sans-serif;

//Margin-bottom
$space-10:10rem;
$space-5:5rem;
$space-4:4rem;
$space-3:3rem;
$space-2:2rem;
$space-1:1rem;